flows.json
[{"id":"62017b1e.402dd4","type":"tab","label":"Flow 1","disabled":false,"info":""},{"id":"5555691f.7900f8","type":"mqtt in","z":"62017b1e.402dd4","name":"Button","topic":"iotkit/button","qos":"1","datatype":"auto","broker":"a60cfdf.c553c","x":110,"y":40,"wires":[["9e1b5395.2cb58","a2a3fc1b.07a02"]]},{"id":"9e1b5395.2cb58","type":"debug","z":"62017b1e.402dd4","name":"Debug","active":false,"tosidebar":true,"console":false,"tostatus":false,"complete":"payload","targetType":"msg","x":290,"y":80,"wires":[]},{"id":"1651abbb.699224","type":"e-mail","z":"62017b1e.402dd4","server":"smtp.gmail.com","port":"465","secure":true,"tls":false,"name":"rafael.goncalves2000@hotmail.com","dname":"Send E-Mail","x":470,"y":40,"wires":[]},{"id":"a2a3fc1b.07a02","type":"function","z":"62017b1e.402dd4","name":"Change Payload","func":"msg.payload = \"Diese Mail wurde generiert, da auf dem IoTKitV3 der Button gedrückt wurde.\"\nreturn msg;","outputs":1,"noerr":0,"x":300,"y":40,"wires":[["1651abbb.699224"]]},{"id":"648ee10e.e8ffc","type":"mqtt in","z":"62017b1e.402dd4","name":"RFID","topic":"iotkit/rfid","qos":"1","datatype":"auto","broker":"a60cfdf.c553c","x":110,"y":160,"wires":[["db1a4ead.e2c54"]]},{"id":"b429c37.372c94","type":"debug","z":"62017b1e.402dd4","name":"Debug","active":false,"tosidebar":true,"console":false,"tostatus":false,"complete":"payload","targetType":"msg","x":390,"y":200,"wires":[]},{"id":"72a37e9c.94911","type":"http request","z":"62017b1e.402dd4","name":"Trigger IFTTT","method":"POST","ret":"txt","paytoqs":false,"url":"https://maker.ifttt.com/trigger/99073967/with/key/gXSyPq4dQX1JosKSzdgfWim_CdA4EDIq_iO37MU5Yym","tls":"","proxy":"","authType":"basic","x":580,"y":160,"wires":[["817bbed0.2713a"]]},{"id":"db1a4ead.e2c54","type":"change","z":"62017b1e.402dd4","name":"Get Time","rules":[{"t":"set","p":"payload","pt":"msg","to":"$now()","tot":"jsonata"}],"action":"","property":"","from":"","to":"","reg":false,"x":260,"y":160,"wires":[["72a37e9c.94911","b429c37.372c94"]]},{"id":"817bbed0.2713a","type":"debug","z":"62017b1e.402dd4","name":"Debug","active":true,"tosidebar":true,"console":false,"tostatus":false,"complete":"payload","targetType":"msg","x":750,"y":200,"wires":[]},{"id":"b22e053.2ee88f8","type":"mqtt in","z":"62017b1e.402dd4","name":"Encoder","topic":"iotkit/encoder","qos":"2","datatype":"auto","broker":"a60cfdf.c553c","x":120,"y":260,"wires":[["a0d0dadb.3e5cb8"]]},{"id":"a0d0dadb.3e5cb8","type":"function","z":"62017b1e.402dd4","name":"Function","func":"var msg1 = { payload: \"Wow, der Encoder wurde maximal 10x gedreht! :D\" };\nvar msg2 = { payload: \"Wow, der Encoder wurde maximal 99x gedreht! :D\" };\nvar msg3 = { payload: \"Wow, der Encoder wurde mindestens 100x gedreht! :D\" };\n\nif (msg.payload.length == 2) {\n    return msg1;\n}\nif (msg.payload.length == 3) {\n    return msg2;\n}\nif (msg.payload.length == 4) {\n    return msg3;\n}","outputs":1,"noerr":0,"x":280,"y":260,"wires":[["712bfac1.d87ae4"]]},{"id":"712bfac1.d87ae4","type":"debug","z":"62017b1e.402dd4","name":"Debug","active":false,"tosidebar":true,"console":false,"tostatus":false,"complete":"payload","targetType":"msg","x":410,"y":300,"wires":[]},{"id":"aa59b98c.e66818","type":"e-mail","z":"62017b1e.402dd4","server":"smtp.gmail.com","port":"465","secure":true,"tls":true,"name":"rafael.goncalves@edu.tbz.ch","dname":"Send E-Mail","x":550,"y":360,"wires":[]},{"id":"f82da665.a94bd8","type":"inject","z":"62017b1e.402dd4","name":"Start Action","topic":"","payload":"","payloadType":"date","repeat":"","crontab":"","once":false,"onceDelay":0.1,"x":130,"y":360,"wires":[["7af7114e.2eb76"]]},{"id":"7af7114e.2eb76","type":"http request","z":"62017b1e.402dd4","name":"GET Website","method":"GET","ret":"txt","paytoqs":false,"url":"http://edu.juergarnold.ch","tls":"99523fe6.310f2","proxy":"","authType":"basic","x":330,"y":360,"wires":[["aa59b98c.e66818","b0fb0b10.c6de88"]]},{"id":"b0fb0b10.c6de88","type":"file","z":"62017b1e.402dd4","name":".txt erstellen","filename":"C:\\Users\\rgon2\\Desktop\\GET_Content.txt","appendNewline":true,"createDir":false,"overwriteFile":"true","encoding":"none","x":510,"y":420,"wires":[[]]},{"id":"176665dc.253d8a","type":"file in","z":"62017b1e.402dd4","name":"Get File Content","filename":"C:\\users\\rgon2\\Desktop\\Tweet.txt","format":"utf8","chunk":false,"sendError":false,"encoding":"none","x":300,"y":480,"wires":[["76564f1d.b7ea2"]]},{"id":"5ab8915f.55c8e","type":"inject","z":"62017b1e.402dd4","name":"Start Action","topic":"","payload":"","payloadType":"date","repeat":"","crontab":"","once":false,"onceDelay":0.1,"x":130,"y":480,"wires":[["176665dc.253d8a"]]},{"id":"76564f1d.b7ea2","type":"file","z":"62017b1e.402dd4","name":"Write to File","filename":"C:\\xampp\\htdocs\\M242\\Testfile.txt","appendNewline":true,"createDir":false,"overwriteFile":"false","encoding":"none","x":530,"y":480,"wires":[[]]},{"id":"a60cfdf.c553c","type":"mqtt-broker","z":"","name":"iotkit","broker":"192.168.0.110","port":"","clientid":"","usetls":false,"compatmode":true,"keepalive":"60","cleansession":true,"birthTopic":"","birthQos":"0","birthPayload":"","closeTopic":"","closeQos":"0","closePayload":"","willTopic":"","willQos":"0","willPayload":""},{"id":"99523fe6.310f2","type":"tls-config","z":"","name":"","cert":"","key":"","ca":"","certname":"","keyname":"","caname":"","servername":"","verifyservercert":true}]